* {
  background-color: red;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuButton {
  justify-content: center;
  align-content: center;
  text-align: center;
}

ul {
  list-style: none;
}
